extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Employee Profile

  form(action=`/employees/${employee.id}`, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', value=employee.email, required)
      .offset-sm-3.col-md-7.pl-3
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name', value=employee.profile.name, autocomplete='name', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Gender
      .col-sm-6
        .form-check.form-check-inline
          input(type='radio', class='form-check-input' checked=employee.profile.gender == 'male', name='gender', value='male', data-toggle='radio')
          label.form-check-label Male
        .form-check.form-check-inline
          input(type='radio', class='form-check-input' checked=employee.profile.gender == 'female', name='gender', value='female', data-toggle='radio')
          label.form-check-label Female
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='address') Address
      .col-md-7
        input.form-control(type='text', name='address', id='address', value=employee.profile.address)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='department') Department
      .col-md-7
        input.form-control(type='text', name='department', id='department', value=employee.profile.department)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='position') Position
      .col-md-7
        input.form-control(type='text', name='position', id='position', value=employee.profile.position)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Salary
      .col-md-7
        input.form-control(type='text', name='salary', id='salary', value=employee.profile.salary)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Is Admin
      .col-md-7
        input(type='checkbox', name='isAdmin', value=checked=employee.isAdmin, checked=employee.isAdmin ? 'checked' : undefined)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right Is Active
      .col-md-7
        input(type='checkbox', name='isActive', value=checked=employee.isActive, checked=employee.isActive ? 'checked' : undefined)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Change Password

  form(action=`/employees/${employee.id}/password`, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') New Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', minlength='8', required)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Change Password

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action=`/employees/${employee.id}/delete?empName=${employee.profile.name}`, method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 You can delete #{employee.profile.name}'s account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Delete account
