extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3.text-center All Employees

  .row
    .col
      table.table.table-paginate.table-hover
        thead
          tr
            th(scope='col') #
            th(scope='col') Name
            th(scope='col') Department
            th(scope='col') Position
            th(scope='col') Salary
            th(scope='col') Total Attendance
            th(scope='col') Salary Nett
            th(scope='col') Action
        tbody
          for user in users
            tr
              th(scope='row')= user.idx
              td= user.profile.name
              td= user.profile.department
              td= user.profile.position
              td= user.salary
              td= user.totalAttendance
              td= user.totalSalary
              td
                a.btn.btn-primary.btn-sm(href=`/employees/${user.id}`, role='button')
                  i.fas.fa-pencil-alt
                  | Edit
