extends layout

block content
  if user
    h1.text-center Dashboard
      p.lead.text-center Selamat datang, #{username}!
    hr
    .row
      .col-md-3.text-center
        .card.text-center
          .card-header
            | Total Kehadiran
          .card-body
            h5.card-title #{totalAttendance}%
            p.card-text
            a.btn.btn-raised(href=`/employees/${user.id}/attendance`, role='button')
              i.fas.fa-history
              | History
      .col-md-6
        .card.text-center
          .card-header
            | #{day}
          .card-body
            h5.card-title #{clock}
            p.card-text.font-weight-bold Attendance Log
            if clockIn
              p.card-text Clock In #{clockIn}
            else
              p.card-text Clock In -
            if clockOut
              p.card-text Clock Out #{clockOut}
            else
              p.card-text Clock Out -
            .row
              .col
                form(action=`/employees/${user.id}/clockin`, method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  button.btn.btn-primary.btn-block(type='submit' disabled=clockIn ? 'disabled' : undefined)
                    i.fas.fa-sign-in-alt
                    | Clock In
              .col
                form(action=`/employees/${user.id}/clockout`, method='POST')
                  input(type='hidden', name='_csrf', value=_csrf)
                  button.btn.btn-primary.btn-block(type='submit' disabled=!clockIn || clockOut ? 'disabled' : undefined)
                    i.fas.fa-sign-out-alt
                    | Clock Out
      .col-md-3.text-center
        .card.text-center
          .card-header
            | Cuti Tahunan
          .card-body
            h5.card-title 10 hari
            p.card-text
            a.btn.btn-raised(href='#', role='button')
              i.fas.fa-umbrella-beach
              | Request Cuti
  else
    .pb-2.mt-2.mb-4.border-bottom
      h3 Sign in
    form(action='/login' method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
        .col-md-7
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
        .col-md-7
          input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
      .form-group
        .offset-md-3.col-md-7.pl-2
          button.col-md-3.btn.btn-primary(type='submit')
            i.far.fa-user.fa-sm
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
